In [3]:
import numpy as np
import pandas as pd
import
%matplotlib inline

In [27]:
df1 = pd.read_csv('df1',index_col=0)

In [29]:
df1.head()

                   A         B         C         D
2000-01-01  1.339091 -0.163643 -0.646443  1.041233
2000-01-02 -0.774984  0.137034 -0.882716 -2.253382
2000-01-03 -0.921037 -0.482943 -0.417100  0.478638
2000-01-04 -1.738808 -0.072973  0.056517  0.015085
2000-01-05 -0.905980  1.778576  0.381918  0.291436

In [15]:
df2 = pd.read_csv('df2')

In [17]:
df2.head()

          a         b         c         d
0  0.039762  0.218517  0.103423  0.957904
1  0.937288  0.041567  0.899125  0.977680
2  0.780504  0.008948  0.557808  0.797510
3  0.672717  0.247870  0.264071  0.444358
4  0.053829  0.520124  0.552264  0.190008

In [35]:
df1['A'].hist(bins=30)

In [41]:
df2.plot.area()

In [45]:
import numpy as np
import pandas as pd
from plotly import __version__

In [47]:
print(__version__)

5.24.1

In [49]:
import chart_studio.plotly as py

In [51]:
import cufflinks as cf

ModuleNotFoundError: No module named 'cufflinks'